# Dependencies
node_modules/
package-lock.json


# Environment
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# Deployment
.vercel
*.zip

# Backups
*.backup
*.old.*

# Temp files
public/content.txt
