# Version Control
.git
.gitignore

# Development
node_modules
npm-debug.log
yarn-error.log
.pnpm-store

# Build
dist/
build/
.vite/
.cache

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Other
README.md
*.md
src/**/*.spec.ts
src/**/*.test.ts
